{% extends "base.html" %} {% block title %}Community Engagement CATPrepHub {% endblock title %}
{% block nav %}
    <!-- Sub header -->
    <nav class="sub-header py-2 border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto active">
                <li class="nav-item"><a href="resources" class="nav-link link-body-emphasis px-2">Youtube videos</a></li>
                <li class="nav-item"><a href="resources" class="nav-link link-body-emphasis px-2">PDFs</a></li>
                <li class="nav-item"><a href="resources" class="nav-link link-body-emphasis px-2">E-books</a></li>
                <li class="nav-item"><a href="resources" class="nav-link link-body-emphasis px-2">Previous years' papers</a>
                </li>
                <!-- <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">About</a></li> -->
            </ul>
            <div class="text-end">
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Logout</button>
              </form>
                {% comment %} <a href="login" class="btn btn-outline-primary btn-login me-2">Log in</a>
                <a href="signup" class="btn btn-primary">Sign up</a> {% endcomment %}
            </div>
        </div>
    </nav>

    <!-- Main header (nav) -->
    <header class="py-3 border-bottom">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <a href="/" class="d-flex align-items-center mt-1 me-2 mb-lg-0 text-decoration-none">
                <img src="../static/img/header_logo.png" height="37.5" width="150">
            </a>
            <ul class="nav nav-pills col-12 col-lg-auto mb-2 justify-content-end list-unstyled">
                <li class="nav-item">
                    <a href="performance" class="nav-link mx-2 text-black">My Performance</a>
                </li>
                <li class="nav-item">
                    <a href="rank_board" class="nav-link mx-2 text-black">Ranker Board</a>
                </li>
                <li class="nav-item">
                    <a href="comm_engage" class="nav-link mx-2 text-black active">Community Engagement</a>
                </li>
                <li class="nav-item">
                    <a href="about" class="nav-link mx-2 text-black">About</a>
                </li>
                <li class="nav-item">
                    <a href="joinus" class="nav-link mx-2 text-black">Join Us</a>
                </li>
            </ul>
        </div>
    </header>
    {% endblock nav %}

    {% block content %}
    <!-- Hero section -->
    <section class="community-hero container text-center">
        <div class="">
            <div class="community-hero-img">
                <img src="../static/img/community_hero.jpg" class="img-fluid"
                    alt="Students engaged in community activities">
            </div>
            <div class="hero-head">
                <h1>Welcome to the CATPrepHub Community!</h1>
                <p class="mb-4">Connect, collaborate, and conquer with fellow CAT aspirants.</p>
            </div>
        </div>
    </section>
    <!-- Benefits section -->
    <section class="benefits container py-5">
        <h2 class="text-center mb-5">Why Join the Community?</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Peer Support</h5>
                        <p class="card-text">Interact with other CAT aspirants for peer support and motivation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Knowledge Sharing</h5>
                        <p class="card-text">Share strategies and best practices to enhance your learning.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Learning from Experts</h5>
                        <p class="card-text">Learn from experienced members and mentors to gain valuable insights.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Engaging Discussions</h5>
                        <p class="card-text">Participate in discussions and forums to address doubts and challenges.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="community-groups container py-5">
        <h2 class="text-center mb-5">Join the Conversation</h2>
        <div class="row d-flex justify-content-between">
            <div class="col-md-4 group-card">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Quantitative Aptitude (QA)</h5>
                        <p class="card-text">Master the art of solving quantitative problems with expert guidance.</p>
                        <div class="text-end mt-3">
                            <a href="#" class="btn btn-whatsapp btn-join mb-2">
                                <i class="bi bi-whatsapp"></i>
                                <span>Join</span>
                            </a>
                            <a href="#" class="btn btn-telegram btn-join mb-2">
                                <i class="bi bi-telegram"></i>
                                <span>Join</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 group-card">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Verbal Ability (VA)</h5>
                        <p class="card-text">Sharpen your reading comprehension and critical reasoning skills.</p>
                        <div class="text-end mt-3">
                            <a href="#" class="btn btn-whatsapp btn-join mb-2">
                                <i class="bi bi-whatsapp"></i>
                                <span>Join</span>
                            </a>
                            <a href="#" class="btn btn-telegram btn-join mb-2">
                                <i class="bi bi-telegram"></i>
                                <span>Join</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 group-card">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Logical Reasoning (LR)</h5>
                        <p class="card-text">Develop your logical thinking and problem-solving abilities.</p>
                        <div class="text-end mt-3">
                            <a href="#" class="btn btn-whatsapp btn-join mb-2">
                                <i class="bi bi-whatsapp"></i>
                                <span>Join</span>
                            </a>
                            <a href="#" class="btn btn-telegram btn-join mb-2">
                                <i class="bi bi-telegram"></i>
                                <span>Join</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 group-card">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Data Interpretation (DI)</h5>
                        <p class="text-muted">Analyze data and draw insightful conclusions.</p>
                        <div class="text-end mt-3">
                            <a href="#" class="btn btn-whatsapp btn-join mb-2">
                                <i class="bi bi-whatsapp"></i>
                                <span>Join</span>
                            </a>
                            <a href="#" class="btn btn-telegram btn-join mb-2">
                                <i class="bi bi-telegram"></i>
                                <span>Join</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Features section -->
    <section class="community-features container py-5">
        <h2 class="text-center mb-5">Features that Empower You</h2>
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <div class="mb-3">
                    <h5 class="ps-1 py-1 features-list">Discussion forums categorized by topics.</h5>
                    <h5 class="ps-1 py-1 features-list ms-3">Real-time chat for instant support and interaction.</h5>
                    <h5 class="ps-1 py-1 features-list ms-5">Weekly quizzes and challenges to test your skills.</h5>
                </div>
            </div>
            <div class="features-img col-md-6">
                <img src="../static/img/community_features.jpg" class="img-fluid rounded-3"
                    alt="Community features illustration">
            </div>
        </div>
    </section>

    <!-- Testimonials section -->
    <section class="testimonials py-5">
        <h2 class="text-center mb-5">What Our Members Say</h2>
        <div id="testimonialsCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner p-3">
                <div class="carousel-item active">
                    <div class="testimonial-card card-border-shadow-blue d-flex flex-column align-items-center">
                        <img src="../static/img/std-1.jpg" alt="Student 1 Photo"
                            class="student-photo mb-3 rounded-circle">
                        <p class="testimonial-quote">"This platform helped me significantly improve my test scores. The
                            practice tests were very realistic and provided valuable feedback."</p>
                        <p class="reviewer-name">John Doe - Student</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial-card card-border-shadow-green d-flex flex-column align-items-center">
                        <img src="../static/img/std-2.jpg" alt="Student 2 Photo"
                            class="student-photo mb-3 rounded-circle">
                        <p class="testimonial-quote">"I found the mock tests incredibly helpful in identifying my areas
                            for improvement."</p>
                        <p class="reviewer-name">John Doe - Student</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial-card card-border-shadow-red d-flex flex-column align-items-center">
                        <img src="../static/img/std-3.jpg" alt="Student 3 Photo"
                            class="student-photo mb-3 rounded-circle">
                        <p class="testimonial-quote">"The mock tests provided valuable insights that guided my study
                            plan."</p>
                        <p class="reviewer-name">Emily Johnson - Student</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial-card card-border-shadow-red d-flex flex-column align-items-center">
                        <img src="../static/img/std-4.jpg" alt="Student 4 Photo"
                            class="student-photo mb-3 rounded-circle">
                        <p class="testimonial-quote">"Taking the mock tests helped me pinpoint my weaknesses and focus
                            on them."</p>
                        <p class="reviewer-name">Michael Brown - Student</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="community-guidelines py-5">
        <div class="container">
            <h2 class="guidelines-title">Community Guidelines</h2>
            <p class="guidelines-text">
                To foster a respectful and productive learning environment, we encourage everyone to:
            </p>
            <ul class="guidelines-list">
                <li>Avoid offensive language or personal attacks.</li>
                <li>Stay focused on relevant discussions related to CAT preparation.</li>
                <li>Maintain a positive and supportive attitude towards other members.</li>
            </ul>
        </div>
    </section>

 
    {% endblock content %}